.introduce_bar{
  border-bottom: 10px solid #333333;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
 display: block;
 position: fixed;

}
#intoduce_bar_wrapper{
  height: 100px;

}
 .inroduce_bar_divition{
   background-color: #111111;
   font-family: "FF Mark W05";
   font-size: 25px !important;
   font-weight: bold;
   width: 100%;
   height: 100px;
   position: fixed;
   z-index: 300000;

 }
 .introduce_bar_flex{
  height: 100px;

}
#introduce_left_content{
float: left;
display: inline;
height: 100%;
width: 30%;
flex-direction: row;
}
#introduce_middle_content{
  float: left;
  height: 100%;
  width: 50%;
  display: inline;
  flex-direction: row;
}
#introduce_right_content{
  float: left;

  height: 100%;
  width: 20%;
  display: inline;
  flex-direction: row;

}
.introduce_navbar_item{
  display: inline-block;
  position:relative;
  top: 25px;
  color: #fff;
       border-radius: 30%;

}
  .introduce_navbar_item a{
    position:relative;
    color: #fff;
  }
  .like_lion_link{
    width: 70px;
    height: 50px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;

  }

 a {text-decoration: none;}
 body{
   background-color: #969696;
 }

 .frame {
  width: 100%;
  border: 1px solid #aaa;
  padding-top: 120px;
}

.header {
  padding:40px 10px;
  text-align: center;
  background: #eee;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  border-top: 1px solid #aaa;
  margin: 20px 20px 0;
  font-size: 12px;
}
.nav {
  float: left;
  width: 150px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: #5457de;
}
.container {
  overflow: hidden;
  background: #333;
  background: url('img/bg.png') repeat-y #fff;
  margin-left: 70px;
  margin-right: 70px;
  width: 92%;
}
.container {
  display: table;
}
.nav, .content {
  display: table-cell;
}
.content {
  background: #fff;
}


.git_link {
  border-radius: 70%;
  width: 50px;
    height: 50px;
    position: relative;
} 


.main_layout{
  width: 100%;
  height: 1500px;
  padding-left: 50px;
  padding-right: 60px;
  text-align: center;
  justify-content: space-around;

}
.under-layout{
  flex-grow:flex;
  height: 700px;
}
 .sub-layout{
  
  background-color: #fff;
  height: 300px;

  width: 31.2%;
  float: left;
  padding: 10px;
  margin: 10px;
}

.up-layout{
  background-color: #fff;
  width: 100%;
}
#left-container{
  
}
#right-container{

  
}
#right-container{
      }
.text_location{
  width: 100%;
}
#up-container{
  display: block;
  margin: 10px;
  height: 200px;

}

body{
  position: relative;

}

.col-xs-12
{
  position: relative;
  top:155px;
  z-index: 30000;
}
.under_nav{
  position: relative;
  top:200px;
  text-align: center;
}


.Useful-main{
  width: 100%;



 padding-top: 110px;
  height: 900px;
}


.website{
  color: #fff;
}